youtube热点获取到邮箱.json
{
  "name": "youtube热点获取到邮箱",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -368,
        -80
      ],
      "id": "5f6deed6-ea32-4ba0-a9cb-f0ed2afc3a67",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "content": "这里可以设置请求参数（找多少个视频）最大值或者发布地区等"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        208,
        -240
      ],
      "typeVersion": 1,
      "id": "a69b3f55-1c0a-44d5-b0c7-7ebd3c2211f6",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7a261327-6356-4113-a169-a0654c6cc886",
              "name": "searchTerms",
              "value": "大模型",
              "type": "string"
            },
            {
              "id": "9f97ce1f-6614-476e-a27a-962531b16768",
              "name": "publishedAfter",
              "value": "={{ new Date(Date.now() - 24*60*60*1000).toISOString() }}",
              "type": "string"
            },
            {
              "id": "58d156e7-bf37-41f6-bfc9-003fefb51636",
              "name": "regionCode",
              "value": "US",
              "type": "string"
            },
            {
              "id": "8c6ba13a-4a97-402e-ac7b-2e60928975ec",
              "name": "relevanceLanguage",
              "value": "zh-Hans",
              "type": "string"
            },
            {
              "id": "1408db97-8e62-4b86-909f-1bbddbe5b81a",
              "name": "max",
              "value": 100,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -160,
        -80
      ],
      "id": "883440db-2831-4dda-983b-b5a62e18f510",
      "name": "设置参数"
    },
    {
      "parameters": {
        "jsCode": "function normalizeStringArray(input) {\n  if (Array.isArray(input)) {\n    return input\n      .map(i => (typeof i === 'string' ? i.trim() : String(i)))\n      .filter(i => !!i);\n  }\n\n  if (typeof input === 'string') {\n    return input\n      .split(',')\n      .map(i => i.trim())\n      .filter(i => !!i);\n  }\n\n  return [];\n}\n\n// 获取参数：先从 $input.first() 拿，再从 “设置参数” 节点 fallback\nconst carrier = $input.first()?.json ?? {};\nconst flowCfg = $items('设置参数', 0, 0)?.json ?? {};\n\nconst searchTermsRaw = carrier.searchTerms ?? flowCfg.searchTerms ?? [];\n\nconst searchTerms = normalizeStringArray(searchTermsRaw);\n\n// 返回处理后的 searchTerms（只有这一项）\nreturn [\n  {\n    json: {\n      searchTerms\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        48,
        -80
      ],
      "id": "c80e3499-4c5c-4d18-80c4-b1e5e1a59ffb",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "fieldToSplitOut": "searchTerms",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        256,
        -80
      ],
      "id": "22ff6306-89dc-4d12-82f8-2030f202b682",
      "name": "Split Out关键词"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        464,
        -80
      ],
      "id": "d7ce8fb4-baf1-4d18-84a6-7ca6c6c2b4aa",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "resource": "video",
        "limit": "={{ $('设置参数').item.json.max }}",
        "filters": {
          "publishedAfter": "={{ $('设置参数').item.json.publishedAfter }}",
          "q": "={{ $('设置参数').item.json.searchTerms }}",
          "regionCode": "={{ $('设置参数').item.json.regionCode }}"
        },
        "options": {
          "order": "={{ \"viewCount\" }}",
          "safeSearch": "strict"
        }
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        640,
        -544
      ],
      "id": "cd0b61f4-bcb2-4b09-a880-e899d8de1fa9",
      "name": "Get many videos获取视频",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "UEMuziHFF8NFlmvu",
          "name": "YouTube account"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "id.videoId"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        784,
        -544
      ],
      "id": "d8b10ce5-302e-4e2d-9b9e-cd4d0537e438",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "eb5ba022-f9a6-4ec0-9d57-1dc30dae25ff",
              "name": "videoId",
              "value": "={{ $json.videoId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        928,
        -544
      ],
      "id": "8ac3718b-a3a7-436a-9af6-52ac18db3fe6",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/youtube/v3/videos",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "youTubeOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "part",
              "value": "contentDetails,snippet,statistics"
            },
            {
              "name": "id",
              "value": "={{ JSON.parse($json.videoId).join(',') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1072,
        -544
      ],
      "id": "3df95105-d240-4c5c-8f00-817754ce8627",
      "name": "批量获取视频详情",
      "executeOnce": true,
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "UEMuziHFF8NFlmvu",
          "name": "YouTube account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "function parseISODuration(s){\n  if(!s) return 0;\n  const m = s.match(/PT(?:(\\d+)H)?(?:(\\d+)M)?(?:(\\d+)S)?/);\n  if(!m) return 0;\n  const h = parseInt(m[1]||'0',10), mm = parseInt(m[2]||'0',10), ss = parseInt(m[3]||'0',10);\n  return h*3600 + mm*60 + ss;\n}\n\nfunction extractItems(it){\n  const j = it.json ?? it;\n  if (Array.isArray(j)) return j;\n  if (Array.isArray(j.items)) return j.items;\n  if (j.body && Array.isArray(j.body.items)) return j.body.items;   // Full Response = true\n  if (j.data && Array.isArray(j.data.items)) return j.data.items;   // 某些接口封装\n  return [];\n}\n\ntry {\n  const carrier = $input.first()?.json ?? {};\n  const flowCfg = $items('设置参数', 0, 0)?.json ?? {};\n\n  const minDuration = Number(carrier.minDuration ?? flowCfg.minDuration ?? 30);\n  const minViews    = Number(carrier.minViews    ?? flowCfg.minViews    ?? 400);\n  const afterDate   = (carrier.publishedAfter ?? flowCfg.publishedAfter)\n    ? new Date(carrier.publishedAfter ?? flowCfg.publishedAfter)\n    : null;\n\n  const inputs = $input.all();\n  const rawItems = inputs.flatMap(extractItems);\n\n  const seen = new Set();\n  const out = [];\n  let totalIn = 0;\n\n  for (const v of rawItems) {\n    totalIn++;\n\n    const id = v.id;\n    if (!id || seen.has(id)) continue;\n\n    const sn = v.snippet || {};\n    const st = v.statistics || {};\n    const cd = v.contentDetails || {};\n\n    if (sn.liveBroadcastContent === 'live' || sn.liveBroadcastContent === 'upcoming') continue;\n\n    const duration = parseISODuration(cd.duration);\n\n    const viewCount    = parseInt(st?.viewCount    || '0', 10);\n    const likeCount    = parseInt(st?.likeCount    || '0', 10);\n    const commentCount = parseInt(st?.commentCount || '0', 10);\n\n    if (!Number.isFinite(viewCount)) continue;\n\n    const pubAt = sn.publishedAt ? new Date(sn.publishedAt) : null;\n\n    if (minDuration > 0 && duration < minDuration) continue;\n    if (afterDate && pubAt && pubAt < afterDate)   continue;\n    if (pubAt && pubAt > new Date())               continue;\n    if (viewCount < minViews)                      continue;\n\n    seen.add(id);\n\n    out.push({\n      videoId: id,\n      title: sn.title || '',\n      channelTitle: sn.channelTitle || '',\n      channelId: sn.channelId || '',\n      description: sn.description || '',\n      tags: sn.tags || [],\n      publishedAt: sn.publishedAt || '',\n      duration,\n      viewCount,\n      likeCount,\n      commentCount,\n      engagementRate: viewCount ? (likeCount + commentCount) / viewCount : 0,\n      thumbnails: sn.thumbnails || {},\n      categoryId: sn.categoryId || '',\n      defaultLanguage: sn.defaultLanguage || '',\n      url: `https://www.youtube.com/watch?v=${id}`,\n      channelUrl: sn.channelId ? `https://www.youtube.com/channel/${sn.channelId}` : undefined,\n    });\n  }\n\n  if (!out.length) {\n    return [{\n      json: {\n        error: '没有符合条件的视频',\n        _why: totalIn === 0\n          ? '上游HTTP返回结构不在 json.items / json.body.items / json.data.items / 直接数组 之内'\n          : '全部被过滤条件剔除',\n        _applied: {\n          minViews, minDuration,\n          afterDate: afterDate ? afterDate.toISOString() : null,\n          totalIn\n        },\n        _peekOfInput0: $input.first()?.json ?? null\n      }\n    }];\n  }\n\n  // ✅ 加入排序逻辑：按观看量（viewCount）降序排列\n  out.sort((a, b) => b.viewCount - a.viewCount);\n\n  return out.map(x => ({ json: x }));\n  \n} catch (e) {\n  return [{ json: { error: e.message } }];\n}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1216,
        -544
      ],
      "id": "d8c7ab78-276b-4d1a-a60f-c3ac2ec50f48",
      "name": "整理与过滤1"
    },
    {
      "parameters": {
        "jsCode": "function median(arr){ if(!arr.length) return 0; const s=[...arr].sort((a,b)=>a-b); const m=Math.floor(s.length/2); return s.length%2? s[m] : Math.round((s[m-1]+s[m])/2); }\n\ntry {\n  const all = $input.all().map(i=>i.json).filter(v=>!v.error);\n  if (!all.length) return [{ json: { error: '没有找到符合条件的视频' } }];\n\n  const byViews = [...all].sort((a,b)=>b.viewCount - a.viewCount);\n\n  // 标签频次（普通 & 按观看量加权）\n  const freq = {}, weighted = {};\n  for (const v of all) {\n    (v.tags || []).forEach(t => {\n      freq[t] = (freq[t] || 0) + 1;\n      weighted[t] = (weighted[t] || 0) + v.viewCount;\n    });\n  }\n  const topTags = Object.entries(freq).sort(([,a],[,b])=>b-a).slice(0,10).map(([tag,count])=>({tag,count}));\n  const topTagsWeighted = Object.entries(weighted).sort(([,a],[,b])=>b-a).slice(0,10).map(([tag,views])=>({tag,views}));\n\n  // 频道聚合\n  const channels = {};\n  for (const v of all) {\n    channels[v.channelId] ??= { channelTitle: v.channelTitle, channelUrl: v.channelUrl, videoCount:0, totalViews:0, totalLikes:0, totalComments:0 };\n    const c = channels[v.channelId];\n    c.videoCount++; c.totalViews+=v.viewCount; c.totalLikes+=v.likeCount; c.totalComments+=v.commentCount;\n  }\n  const topChannels = Object.values(channels).sort((a,b)=>b.totalViews - a.totalViews).slice(0,5);\n\n  // 统计\n  const totalVideos = all.length;\n  const viewsArr = all.map(v=>v.viewCount);\n  const totalViews = viewsArr.reduce((s,x)=>s+x,0);\n  const averageViews = Math.round(totalViews / totalVideos);\n  const medianViews = median(viewsArr);\n  const totalLikes = all.reduce((s,v)=>s+v.likeCount,0);\n  const totalComments = all.reduce((s,v)=>s+v.commentCount,0);\n  const avgDuration = Math.round(all.reduce((s,v)=>s+v.duration,0) / totalVideos);\n\n  const topByEngagement = [...all]\n    .map(v => ({...v, engagementRate: v.viewCount ? (v.likeCount + v.commentCount) / v.viewCount : 0}))\n    .sort((a,b)=>b.engagementRate - a.engagementRate)\n    .slice(0,10);\n\n  return [{\n    json: {\n      summary: {\n        totalVideos, totalViews, averageViews, medianViews, totalLikes, totalComments, avgDuration,\n        analysisDate: new Date().toISOString()\n      },\n      topVideos: byViews.slice(0,10),\n      topByEngagement,\n      topTags,\n      topTagsWeighted,\n      topChannels,\n      allVideos: byViews\n    }\n  }];\n} catch (e) {\n  return [{ json: { error: e.message } }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1376,
        -544
      ],
      "id": "5dbb028a-6143-40d6-b5e3-7721de195442",
      "name": "趋势分析1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=基于以下YouTube趋势数据，请输出中文分析报告（条理清晰、含建议）：\n\n## 以下内容放在报告开头，不修改：\n总体统计：\n- 总视频数：{{$json.summary.totalVideos}}\n- 总观看量：{{$json.summary.totalViews}}\n- 平均观看量：{{$json.summary.averageViews}}\n- 中位数观看量：{{$json.summary.medianViews}}\n- 平均时长（秒）：{{$json.summary.avgDuration}}\n- 总点赞：{{$json.summary.totalLikes}}；总评论：{{$json.summary.totalComments}}\n\n热门标签（出现频次TOP10）：\n{{$json.topTags.map(x=>`${x.tag}(${x.count})`).join(', ')}}\n\n热门标签（按观看量加权TOP10）：\n{{$json.topTagsWeighted.map(x=>`${x.tag}(${x.views})`).join(', ')}}\n\n热门频道（按总观看量TOP5）：\n{{$json.topChannels.map((c, i) => `${i + 1}、${c.channelTitle}(${c.videoCount}个视频/${c.totalViews}观看)`).join('\\n')}}\n\n热门视频（按观看量TOP5）：\n{{$json.topVideos.slice(0,5).map((v, i) => `${i + 1}、${v.title} - ${v.viewCount} - ${v.url}`).join('\\n')}}\n\n互动率最高（TOP5）：\n{{$json.topByEngagement.slice(0,5).map((v, i) => `${i + 1}、${v.title} - 互动率${(v.engagementRate*100).toFixed(2)}%`).join('\\n')}}\n\n\n",
        "options": {
          "systemMessage": "=## 请根据以下内容进行整合分析\n\n1) 当前趋势主题与叙事角度（结合“加权标签”）\n2) 内容类型偏好（视频时长、封面/标题风格）\n3) 观众参与度（互动率）与驱动因素\n4) 创作者建议（标题/封面/结构/时长/关键词）\n5) 细分机会（长尾标签/冷门但高互动）\n\n如果涉及到标题外语，不修改原来的语言，但需要备注好（中文标题），如：Generate Viral Marketing Ads with 1 Click!（一键生成病毒式营销广告！）\n请直接输出报告，其他无关内容无需输出。\n要求所有讲解，清晰，简介，要求瞬间看到需要的内容，避免生成不必要的信息。\n\n\n## 报告内容（请严格遵守）\n24小时内youtube视频总体统计：\n- 总视频数：XX\n- 总观看量：XX\n- 平均观看量：XX\n- 中位数观看量：X\n- 平均时长（秒）：XX\n- 总点赞：XX；总评论：XX\n\n热门标签（出现频次TOP10）：\nXX\n\n热门标签（按观看量加权TOP10）：\nXX\n\n热门频道（按总观看量TOP5）：\nXX\n\n热门视频（按观看量TOP5）：\nXX\n\n互动率最高（TOP5）：\nXX\n\n详细分析：\nXXXX\n\n## 输出格式要求 (HTML)\n\n1.文件结构： 必须以完整的 HTML 格式返回内容，包括 <!DOCTYPE html>、<html>、<head> 和 <body> 标签。\n\n2.样式： 必须使用内联 CSS 样式（放置在 <style> 标签内）以确保在所有邮件客户端（如 Gmail）中显示正常。\n\n3.简洁性： 报告必须清晰、简洁，确保用户可以瞬间看到所需内容，避免任何不必要的解释性文字或冗余信息。\n\n4.内容封装： 报告的整体内容必须封装在一个带有最大宽度的 <div> 容器中。\n\n5.标题/链接：报告主标题使用 <h1>。\n\n6.所有子标题使用 <h2>。\n\n7.“热门视频”列表中的视频标题必须使用 <a href=\"...\"> 标签链接到其 URL，并设置 target=\"_blank\"。\n\n8.表格/列表： 所有统计列表和热门列表必须使用 HTML 的 <ul> 或 <ol> 标签（或使用格式清晰的 <table>）来组织，以便瞬间分辨。"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1136,
        -304
      ],
      "id": "621578d0-7046-4a28-bd67-f09422c650ef",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {
          "temperature": 0.7
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        1040,
        -160
      ],
      "id": "cdd865c3-0f40-4a24-9734-12137d773050",
      "name": "DeepSeek Chat Model",
      "credentials": {
        "deepSeekApi": {
          "id": "uiuhb0tFBNLjPOjU",
          "name": "DeepSeek account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "walynlee1@gmail.com",
        "subject": "=24小时内YouTube热门视频推送",
        "message": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1440,
        -176
      ],
      "id": "0a83f2f6-e368-44da-bb9b-c9a607f4819f",
      "name": "Send a message",
      "webhookId": "dc327d0a-58b4-46cb-940a-8afe85c5c8ee",
      "credentials": {
        "gmailOAuth2": {
          "id": "R4iE1gm38KH2q04Y",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "设置参数",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "设置参数": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Split Out关键词",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out关键词": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Get many videos获取视频",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many videos获取视频": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "批量获取视频详情",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "批量获取视频详情": {
      "main": [
        [
          {
            "node": "整理与过滤1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "整理与过滤1": {
      "main": [
        [
          {
            "node": "趋势分析1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "趋势分析1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e51fac32-308a-4629-b775-1ee97ab9acc6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "06a11e9385892f171be5075de8b0311d5cc673f9a3458756793f00accb63c18c"
  },
  "id": "3lcIjMmP9vtCIJnI",
  "tags": []
}